.elem {
    background-color: deepskyblue;
    width: 600px;
    height: 400px;
    border: 1px solid grey;
    padding: 16px;
    margin: 25px;
}
.parent-div {
    font-family: arial;
    margin: 25px;
    width: 350px;
    height: 200px;
    border: 1px solid grey;
}

